@import "../node_modules/bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700')

// Bulma overrides
$family-primary: 'Josefin Sans', sans-serif
$navbar-background-color: #6C71D5
$navbar-item-color: #FFFFFF
$navbar-item-hover-color: #6C71D5
$navbar-item-active-color: #FFFFFF
$navbar-item-active-background-color: #595C95
$navbar-height: 4rem
$navbar-burger-color: #FFFFFF !important

// 4. Setup your Custom Colors

// 6. Import the rest of Bulma

.container
  margin
    left: 2rem
    right: 2rem
  width: calc(100% - 4rem)
  max-width: 100%

@import "../node_modules/bulma/bulma"

@keyframes spin
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(359deg)


html
body
  background-color: #FFFFFF
  min-width: 100%
  min-height: 100%
  box-sizing: border-box

  *
    box-sizing: inherit
  
html
  font-size: 15px

  @media screen and (min-width: 769px) and (max-width: 1023px)
    font-size: 14px
  
  @media screen and (max-width: 768px)
    font-size: 13px

main
  height: 100vh

.columns
  margin: 0
  width: 100%

.navbar-item img
  max-height: 2.75rem

.navbar-item.is-active:hover 
  color: $navbar-item-hover-color

.navbar-burger span
  background-color: #FFFFFF

.radio + .radio
  margin-left: unset